$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-family-titillium: 'Titillium Web', sans-serif;
$font-family-merriweather: 'Merriweather', serif;



//Colors
$primary: #fe5814;
$secondary: #fff5f1;
$tertiary: #333333;
$quaternary: #979797;
