.btn-primary {
    background: transparent;
    padding: ($grid-gutter-width / 3) ($grid-gutter-width / 2);
    margin: 0;
    font-family: $font-family-merriweather;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.25s all ease-in-out;
    border: 2px solid $primary;
    color: $primary;
    border-radius: 0;
    &:hover {
        text-decoration: none;
    }
    &:active , &:focus {
        outline: none;
        box-shadow: none;
    }
    &.has--chevron {
        padding-right: $grid-gutter-width * 1.5;
        position: relative;
        &:after {
            content: url(../images/arrow-right.svg);
            position: absolute;
            top: calc(50% + 5px);
            transform: translateY(-50%);
            right: 10px;
        }
    }
}

.btn-link {
    background: transparent;
    padding: 0;
    margin: 0;
    font-family: $font-family-titillium;
    font-size: 1rem;
    transition: 0.25s all ease-in-out;
    border: none;
    outline: none;
    &:hover {
        color: darken($primary, 10%);
        text-decoration: none;
    }
    &:active , &:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
}
.btn__outline {
    background: transparent;
    padding: ($grid-gutter-width / 3) ($grid-gutter-width / 2);
    margin: 0;
    font-family: $font-family-merriweather;
    font-size: 1rem;
    transition: 0.25s all ease-in-out;
    border: 2px solid $black;
    color: $black;
    border-radius: 0;
    &:hover {
        text-decoration: none;
    }
    &:active , &:focus {
        outline: none;
        box-shadow: none;
    }
    &.has--chevron {
        padding-right: $grid-gutter-width * 1.5;
        position: relative;
        &:after {
            content: url(../images/arrow-right-black.svg);
            position: absolute;
            top: calc(50% + 5px);
            transform: translateY(-50%);
            right: 10px;
        }
    }
}