.footer__row {
    background-image: url(../images/rectangle-black.svg);
    background-size: cover;
    padding-top: ($grid-gutter-width * 4);
    padding-bottom: ($grid-gutter-width * 4);
    &__inner {
        color: #fff;
        .footer__address__section {
            .address__block {
                .address__desc {
                    font-size: 0.778rem;
                    color: rgba($white, $alpha: 0.5)
                }
                .address__title {
                    font-size: 1.111rem;
                    font-family: $font-family-titillium;
                }
            }
        }
        .footer__section {
            &__title {
                margin-bottom: ($grid-gutter-width / 1.25)
            }
            &__content {
                .footer__menu {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    &__item {
                        margin-bottom: ($grid-gutter-width / 2);
                        &__link {
                            color: $white;
                            font-size: 1rem;
                            font-family: $font-family-titillium;
                            transition: 0.25s all ease-in-out;
                            &:hover {
                                color: $primary;
                                text-decoration: none;
                            }
                        }
                    }
                } 
            }
            &__contact {
                .footer__contact__list {
                    &__item {
                        &__link {
                            color: $white;
                            font-family: $font-family-titillium;
                            transition: 0.25s all ease-in-out;
                            &:hover {
                                color: $primary;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}