.footer__row {
    background-image: url(../images/rectangle-black.svg);
    background-size: cover;
    padding-top: ($grid-gutter-width * 4);
    padding-bottom: ($grid-gutter-width * 4);
    &__inner {
        color: #fff;
        .footer__address__section {
            .address__block {
                .address__desc {
                    font-size: 0.778rem;
                    color: rgba($white, $alpha: 0.5)
                }
                .address__title {
                    font-size: 1.111rem;
                    font-family: $font-family-titillium;
                }
            }
        }
        .footer__section {
            &__title {
                margin-bottom: ($grid-gutter-width / 1.25)
            }
            &__content {
                .footer__menu {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    &__item {
                        margin-bottom: ($grid-gutter-width / 2);
                        &__link {
                            color: $white;
                            font-size: 1rem;
                            font-family: $font-family-titillium;
                            transition: 0.25s all ease-in-out;
                            &:hover {
                                color: $primary;
                                text-decoration: none;
                            }
                        }
                    }
                } 
            }
            &__contact {
                .footer__contact__list {
                    &__item {
                        &__link {
                            color: $white;
                            font-family: $font-family-titillium;
                            transition: 0.25s all ease-in-out;
                            &:hover {
                                color: $primary;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer__mobile__row {
    background-image: url(../images/rectangle-black.svg);
    background-size: cover;
    padding-top: ($grid-gutter-width * 1.5);
    padding-bottom: ($grid-gutter-width * 1.5);
    &__inner {
        width: 90%;
        margin: auto;
    }
    .footer__mobile__block {
        margin-bottom: ($grid-gutter-width / 1.5);
        .footer__mobile__block__title {
            text-transform: uppercase;
            color: $primary;
            font-family: "Titillium Web", sans-serif;
            font-size: 0.667rem;
            font-weight: 600;
            margin-bottom: ($grid-gutter-width / 2);
        }
        .footer__mobile__block__content {
            .footer__mobile__list {
                .footer__menu__item {
                    margin-bottom: ($grid-gutter-width / 3);
                    line-height: 1;
                    &__link {
                        color: $white;
                        font-size: 1rem;
                        font-family: $font-family-titillium;
                        transition: 0.25s all ease-in-out;
                        font-size: 0.667rem;
                        &:hover {
                            color: $primary;
                            text-decoration: none;
                        }
                    }
                }
            }
            .footer__social__list {

            }
            .footer__location__list {
                &__item {
                    margin-bottom: ($grid-gutter-width / 2);
                    &__desc {
                        margin: 0;
                        font-size: 0.667rem;
                        color: rgba($color: $white, $alpha: 0.5);
                        font-family: $font-family-titillium;
                    }
                    &__title {
                        margin: 0;
                        font-size: 0.667rem;
                        color: $white;
                        font-family: $font-family-titillium;
                    }
                }
            }
        }
        &__heading {
            color: $white;
            h6 {
                line-height: normal;
            }
        }
    }
}